.flex-dash header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: white;
    padding: 10px 30px;

}

.flex-dash header a {
    margin-top: 6px;
    text-decoration: none;
    color: #72777a;
}
.flex-dash header > a{
    color: rgb(241, 76, 34);
}

.flex-dash .fa-bars {
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .flex-dash header a {
        display: none;
    }
    .flex-dash header {
       justify-content: flex-end;
    
    }
}