<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/fontawesome-free-5.9.0-web/css/all.min.css">
    <title>Health Track</title>
    
</head>
<body>
   <div class="flex-dash">
        <sidebar id="sidebar">
          <div class="sidebar-title">
             <img src="../images/03.png" alt="">
             <h2>Health Track</h2>
          </div>
          <div class="py-4 px-3 mb-2" style="background-color: #575757 !important">
              <div class="perfil">
                <div class="media d-flex align-items-center">
                  <img src="../images/vagner.jpg" width="70" alt="Olá, usuário" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                  <div class="media-body" id="maneUser">
                    <h4 class="m-0">Olá, Vagner</h4>
                  </div>
                  </div>   
                </div>
              </div>
          <div class="menu">
            <ul>
                <li>
                    <i class="fas fa-home"></i>
                    <a href="dashboard.html">Dashboard  </a>
                </li>
                <li>
                    <i class="far fa-user"></i>
                    <a href="perfil.html">Perfil </a>
                 </li>
                <li>
                    <i class="fas fa-weight"></i>
                    <a href="gerencPeso.html">Gerenciar Peso/altura</a> 
                </li>
                <li>
                    <i class="far fa-heart"></i>
                    <a href="gerencPressao.html">Gerenciar Pressão</a>
                 </li>
                <li>
                    <i class="fas fa-running"> </i>
                    <a href="gerencAtivFisica.html">Gerenciar atividades fisicas</a>
                 </li>
                <li>
                    <i class="fas fa-utensils"></i>
                    <a href="gerencAlimentos.html">Gerenciar Alimentos</a> 
                 </li>
                 <li>
                    <i class="fas fa-calculator"></i>
                    <a href="calcularIMC.HTML">Calcular IMC</a> 
                </li>
            </ul>
          </div>
        </sidebar>
          <main>
          <header>
            <i id="iconMenu" onclick="responsiveSidebar()" class="fas fa-bars"></i>
            <a href="../index.html"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </header>
         <div class="main-content">
           <div class="main-title">
             <h2>Gerenciar Pressão</h2>
           </div>
           <div class="painel-row"> 
            <button class="panel panel-50" a-view="cadastrarPressao" a-script="Pressao" onclick="fetchContent(this)" a-folder="Pressao"><i class="fas fa-plus"></i></i>Cadastrar Pressão</button>
            <button class="panel panel-50" a-view="vizualizarPressao" a-script="Pressao" onclick="fetchContent(this)" a-folder="Pressao"><i class="fas fa-table"></i>Vizualizar Pressão</button>
           </div>
           <div class="content" id="ajax-content">
              
           </div>
         </div>
     </main>
   </div>
   <script src="../plugins/jquery/jquery.min.js"></script>
   <script src="../plugins/jquery-validation/jquery-validation-1.19.1/dist/jquery-validation.min.js"></script>
   <script src="../plugins/jquery-validation/jquery-validation-1.19.1/dist/additional-methods.min.js"></script>
   <script src="../plugins/jquery-validation/jquery-validation-1.19.1/dist/localization/messages_pt_BR.min.js"></script>
  
   <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="../plugins/fontawesome/js/all.min.js"></script>
  <script src="../js/ajax.js"></script>
  <script src="../js/menu.js"></script>
</body>
</html>